<style>
    .product {
        width: 30%;
        display: inline-block;
        margin: 1%;
        vertical-align: top;
    }
</style>
{% extends 'base.html' %}

{% block lab %} {% endblock %}

{% block main %}
    
    <ul >
        <li >
            <a href="/rgz/log" >Логин</a>
        </li>
        <li >
            <a href="/rgz/register">Регистрация</a>
        </li>
        
        <li>
            <a href="/rgz/logout">Logout</a>
        </li>
        <li>
            <a href="/rgz/korzina">Корзина {{ kolvo }}</a>
        </li>
    </ul>
    
    {% for product in products %}
    <div class="product">
        <h3>{{ product.name_ }}</h3>
        <p>{{ product.opisanie }}</p>
        <p>Цена: {{ product.price }} руб.</p>
        {% if username != "Anon" %}
            <form action="/rgz/add_to_cart" method="POST">
                <input type="hidden" name="product_id" value="{{ product.id }}">
                <input type="number" name="kolvo" value="1" min="1">
                <button type="submit">Добавить в корзину</button>
            </form>
        {% else %}
            <p>Авторизуйтесь, чтобы добавить товар в корзину.</p>
        {% endif %}
    </div>
    {% endfor %}
    
{% endblock %}